html, body{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;   
    overflow-x:hidden ;   
    
}
.parent-container{
    overflow-x: hidden;
}

.container{

    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: aliceblue;
   
}
.sub-container{
    width: 75%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 64px;


}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}
.header .logo{
    font-size: 24px;
    font-style: italic;
    color:rgb(53, 170, 247);
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}
.content{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
}
.content img{
    width: 100%;
    min-width: 250px;
    height: inherit;
}
.left-content{
    width: 430px;
}

.hero-text{
    font-size: 32px;
    font-weight: bold;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.left-content button{
    padding: 8px 16px;
    background-color: rgb(53, 170, 247);
    color: aliceblue;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 550;

}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    
    row-gap: 8px;
    column-gap: 32px;
    list-style: none;
    flex-wrap: wrap;
}
li:hover{
    font-weight: bold;

}
a{
    text-decoration: none;
    color: aliceblue;
}
button{
    font-weight: bold;
}

.right-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 192, 193);
    width: 400px;
    height: 180px;
    min-width: 200px;
    border: 1px solid #35aaf7;
 
}
.gallery-div-container{
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.gallery-div{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 32px;
    margin-top: 64px;
    margin-bottom: 64px;
    
}


.photos-title-div{

    font-size: 30px;
    font-weight: bold;
    text-align: center;
   
}

.photos-div{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    
    
}
.photos-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
.photos-div div div{
    height: 170px;
    width: 200px;
    border-radius: 8px;
    border: solid 3px #35aaf7;
}

.photos-div div div img{
    width: 100%;
    height: inherit;
}
.quote-container-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.quote-div{
    padding: 32px 256px;
    background-color: rgb(186, 193, 193);
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    font-style: italic;
}
.text-author-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px 64px;
}
.quote-div .author{
    font-style: normal;
    font-weight: bold;
}
.signup-div-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    padding: 32px;
}

.signup-div{
    background-color: #35aaf7;
    padding: 64px 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    /*align-content: center;*/
    justify-content: space-evenly;
    color: aliceblue;
    border-radius: 8px;
    width: 800px;
    border: solid rgb(220, 221, 222);;
   
}
.hero-b{
    font-size: 32px;
    font-weight: bold;
}
.text{
    flex-grow: 0;
}
.signup-div button{
    padding: 16px 32px;
    background-color: #35aaf7;
    border-color: aliceblue;
    border-radius: 8px;
    color: aliceblue;
    flex-shrink: 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    font-size: 16px;
    background-color: #1F2937;
    color: aliceblue;
}
button:hover{
    border-color:gold;
}
